<body style="background-color:rgb(230, 176, 209);">
 <div class="container"> 
    <h1 style="text-align: center;"><b>Fargana Khiljia Rafique</b></h1>
    <img src="/Assets/images/Photo.jpg" alt="myself" style= "display: block; margin-left: auto; margin-right: auto;">  <!--image location-->
        <p>
            <h5 style="text-align: center;">I love to learn new things. I am team oriented and serious about work.
                I want to grow my career in this field.</h5>
            <h3 style="text-align: center;"><span class="glyphicon glyphicon-education"></span> Education:</h3>
        </p>
        <p>
            <h5 style="text-align: center;">Advanced Diploma</h5>
              <h5 style="text-align: center;"> Software Engineering Technology</h5>
            <h5 style="text-align: center;">Centennial College, Scarborough, ON, Canada</h5>     
        </p>  

        <a href="https://github.com/FarganaRafique/Fargana-s-resume/blob/master/FARGANA'S%20RESUME1.pdf"> 
        <h3><span class="glyphicon glyphicon-download"></span>Click for Resume</h3> 
    </a>
    </div>
</body>