<body style="background-color:rgb(80, 64, 167);">
<!--Grid column-->

<!--new contact page-->
<legend><label style="background-color:rgb(239, 156, 241);">Your Contact Information: </label></legend>
        <p>For any question, contact with me. Thank you.</p>
<div class="row">

    <!--Grid column-->
    <div class="col-md-9 mb-md-0 mb-5">
        <form method="POST">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-6">
                    <div class="md-form mb-0">
                        <label for="name" class="">First name</label>
                        <input type="text" id="name" name="name" class="form-control">
                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="md-form mb-0">
                        <label for="name" class="">Last name</label>
                        <input type="text" id="name" name="name" class="form-control">
                        
                    </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-12">
                    <div class="md-form mb-0">
                        <label for="email" class="">Email</label>
                        <input type="text" id="email" name="email" class="form-control">
                        
                    </div>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->


            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-12">

                    <div class="md-form">
                        <label for="message">Additional Information:</label>
                        <textarea type="text" id="message" name="message" rows="5" class="form-control md-textarea"placeholder ="--Write your message here--"></textarea>
                        
                    </div>

                </div>
                
            </div>
            <br>
            <div class="text-center text-md-left">
                <input type="submit" value="Submit" class="btn btn-primary pull-right">
               <!-- <a class="btn btn-primary pull-right" value="Submit">Submit</a>-->
            </div>
            <!--Grid row-->

        </form>
        <div class="status"></div>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-3 text-center">
        <ul class="list-unstyled mb-0">
            <li><i class="fas fa-map-marker-alt fa-2x"></i>
                <p>Toronto, ON M1L 0B3, Canada</p>
            </li>

            <li><i class="fas fa-phone mt-4 fa-2x"></i>
                <p>+ 1 (647) 859-6269</p>
            </li>

            <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                <p>frafique@my.centennialcollege.ca</p>
            </li>
        </ul>

    </div>
    <!--Grid column-->
</div>
</body>