<body style="background-color:powderblue;">
<div class="center">
    <h1 style="text-align: center;"><b>Fargana Khiljia Rafique</b></h1>
    <p><h4 style="text-align: center;">Web Application Development - COMP 229</h4></p>
    <p><h5 style="text-align: center;">Mission Statement: To create innovative ideas and solutions for digital world.</h5></p>
    <img src="/Assets/images/toronto.png" class="img-fluid"alt="Toronto image">
    <li><a href="http://localhost:3000/about">About Page</a></li>
    </div>
</body>