<body style="background-color:rgb(119, 43, 134);">
<br><div class="container">
    <ul style="list-style-type:square">
        <h5 style="background-color:rgb(191, 230, 176);">
         <li><b>Calculator using Windows Application Forms</b></h5>
        <p class="text-justify">Developed a software program for BMI (Body Mass Index) calculator using .Net Language and
         Windows form application that allowed accepting and editing inputs, compiling information, and debugging.</p>            
        </li>
        <img src="/Assets/images/BMI calculator.PNG" alt="bmi" style= "display: block; margin-left: auto; margin-right: auto;" class="img-thumbnail"> <br>
        <h5 style="background-color:rgb(191, 230, 176);">
        <li><b>Software Requirement Analysis</b></h5>
        <p class="text-justify">Designed and modeled a Software Requirement Specification (SRS) 
        for a mywallet device where all cards attached in a same software system and another one is Health virtual clinic where 
        patients can get treatment and prescription virtually and also payment. We used different software diagramming tools like
        visio and visual paradigm.</p>
        </li>
        <h5 style="background-color:rgb(191, 230, 176);">
        <li><b>Databse using Oracle 12C</b></h5>
        <p class="text-justify">Designed and developed a project for Oracle database for a medical center 
        to manage the patients’, doctors’, appointment, and medication information using 
        Oracle SQL Developer 12C.</p>
        </li>
        <h5 style="background-color:rgb(191, 230, 176);">
        <li><b>Web Page using HTML5, CSS, and JavaScript</b></h5>
        <p class="text-justify">Developed a website for a Realtor Agent and Restaurant using HTML5, CSS, 
        dynamic web template on Microsoft Expression Web, and JavaScript that uploaded to the student
        web server using FTP applications.</p>
        <img src="/Assets/images/restaurant.PNG" alt="webpage" style= "display: block; margin-left: auto; margin-right: auto;" class="img-thumbnail">
        <img src="/Assets/images/reality.PNG" alt="webpage" style= "display: block; margin-left: auto; margin-right: auto;" class="img-thumbnail">
        
    </ul>
</div>
</body>